<!DOCTYPE html>

{% load static %}
{% load crispy_forms_tags %}

<html lang='en'>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" , initial-scale="1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{% static 'style_homepage.css' %}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:light' rel='stylesheet' type='text/css'>
	<title> HealthChecker </title>
</head>

<div class="wrapper">
	<header class="header">
		<h1>Health Checker</h1>
	</header>

	<div class="form-wrapper" id="field">
		<div class="result">
			<p>Prediksi Pola Hidup Anda : </p>
			<h1>
				<strong>{{ prediction }}</strong>
			</h1>

			{% if prediction != "Sehat" %}
				{% if decisive_node == "Berat Badan" or decisive_node == "Tinggi Badan" %}
					<p>Hal yang perlu Anda perbaiki : Rasio Tinggi dan Berat Badan </p>
				{% else %}
					<p>Hal yang perlu Anda perbaiki : {{ decisive_node }} </p>
				{% endif %}
			{% endif %}

			
			<a class="btn btn-secondary" href="/">Return</a>
		</div>
	</div>
</div>

</html>