<!DOCTYPE html>

{% load static %}
{% load crispy_forms_tags %}

<html lang='en'>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" , initial-scale="1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{% static 'style_homepage.css' %}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:light' rel='stylesheet' type='text/css'>
	<title> HealthChecker </title>
</head>
<div class="wrapper">
	<header class="header">
		<h1>Health Checker</h1>
	</header>

	<div class="form-wrapper" id="field">
		<p class="subtext">Fomulir ini berisi tentang pertanyaan-pertanyaan yang berkaitan dengan pola hidup sehari-hari
			dan aktivitas
			sehari, yang berkaitan dengan kesehatan kita semua. Dari data yang anda berikan, sistem akan memberikan
			klasifikasi mengenai pola hidup anda menurut algoritma dan dataset yang kami rancang.</p>
		<p class="subtext">
			<em><strong>Note!</strong> Jawablah menurut kondisi rata-rata 2 minggu belakangan.</em>
		</p>
		<form method="POST" class="form">
			{% csrf_token %}
			{{ form.as_p}}
			<button class="btn btn-secondary" value="Submit"> Submit</button>
		</form>
	</div>
</div>

</html>