html{
	scroll-behavior: smooth;
}

p {
	font-family : Montserrat;
	font-size : 16px;
}

body {
	background: rgb(255,111,0);
	background: linear-gradient(90deg, rgba(255,111,0,1) 0%, rgba(255,187,37,1) 35%, rgba(255,228,91,1) 100%);
}

h1{
	font-family : Montserrat !important;
	font-size: 4vw !important;
}

.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.header {
	width: 25%;
	height: 90%;
	margin-left: 5vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(255,255,255,0.4);
}

.header > h1 {
	margin-right: 3vw;
	text-align: end;
	color: white !important;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.form-wrapper {
	height: 90%;
	width: 55%;
	margin-right: 5vw;
	overflow: auto;
	padding: 2em;
	background-color: white;
	position: relative;
}

.subtext {
	font-size: 12px !important;
}

@media only screen and (max-width: 800px) {
  .wrapper {
	  flex-direction: column;
	  flex-wrap: nowrap;
  }

  .header {
	  height: 10%;
	  width: 100%;
	  margin: 0;
  }

  h1 {
	  font-size: 1em !important;
  }

  .form-wrapper {
	  height: 100%;
	  margin: 0;
	  width: 100%;
  }
}